
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li {
  margin: 0 2rem;
}

nav ul li a {
  text-decoration: none;
  color: rgb(50, 20, 220);
  font-weight: bold;
  font-size: 1.2em;
}
nav ul li a:hover{
  color: black;
}
header h1{
  font-size: 4em;
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em;
  background-color: #ffffff;
}  
#image {
  align-items: center;
 border: 5px solid black;
 border-radius: 2px;

}
.subsection ul li{
  color: darkgreen;
}
header{
  background-image: url("http://via.placeholder.com/1920x1080.png");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;

}
footer{
  text-align: center;
  align-items: center;
  background-color: blueviolet;
}
.subsection h2{
display: flex;
align-items: center;
justify-content: center;
}
form {
display: flex;
flex-direction: column;
align-items: center;
}

label {
margin: 10px;
text-align: center;
}

input[type="text"], textarea {
padding: 5px;
margin: 10px;
width: 70%;
box-sizing: border-box;
}
